<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.site.mapper.SiteCredentialMapper">
    <resultMap id="SitePublicCredentialResult" type="SitePublicCredential">
        <result property="credentialCode" column="credential_code" />
        <result property="credentialType" column="credential_type" />
        <result property="title" column="title" />
        <result property="documentUrl" column="document_url" />
    </resultMap>
    <select id="selectPublishedCredentialList" resultMap="SitePublicCredentialResult">
        select c.credential_code, c.credential_type, r.title,
               concat('/open/site/v1/media/', m.public_id) as document_url
        from site_credential c
        inner join site_credential_revision r on r.revision_id = c.published_revision_id
        inner join site_media m on m.media_id = r.document_media_id
        where c.del_flag = '0' and r.revision_state = 'PUBLISHED'
          and m.media_state = 'AVAILABLE' and m.del_flag = '0'
        <if test="credentialType != null and credentialType != ''">
            and c.credential_type = #{credentialType}
        </if>
        order by c.credential_type, r.title
        limit #{limit}
    </select>
</mapper>
